footer {
    background-color: #EEE;
    padding: 2em 0;
    text-align: center;
    font-size: 0.8em;
}

footer p, footer a {
    color: #999;
}

footer p {
    padding: 0.5em;
}

footer a {
    text-decoration: underline;
}